body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 44px;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 0 0.75rem rgb(247, 209, 210))
}

html {
    background-image: url(SnakeBB.png);
    background-repeat: no-repeat;
    background-size: cover;
}